.col {
      border: 1px;
   }

.boxes {
    border-radius: 10px 10px 10px 10px;
    padding: 2px;
    text-align: center;
  }

  .col:hover {
    border-radius: 100px 100px 100px 100px;
    background-color: rgb(248, 16, 16);
  }
  
  .boxes:hover {
    border-radius: 100px 100px 100px 100px;
    text-decoration-color: brown;
    text-shadow: 3px;
  }

  a {
    text-decoration: none;
  }



.col-1 {
  border-radius: 100px 100px 100px 100px;
  text-align: center;
}

.col-1:hover {
  border-radius: 100px 100px 100px 100px;
  background-color: rgb(248, 16, 16);

}

